.beshert {
	FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.copy {
	FONT-SIZE: 12px; COLOR: #8591a1; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.TITLES {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.beshert-right {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000099; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titles {
	COLOR: #5074b0; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newspaper {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "Times New Roman", Times, serif
}
.beshertCopy {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #acd0e6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subnavig {
	FONT-WEIGHT: bolder; FONT-SIZE: 9px; COLOR: #f3bb7c; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subnavig2 {
	FONT-WEIGHT: bolder; FONT-SIZE: 9px; COLOR: #7693c0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.TITLES2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9933; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subnavigCopy {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #7693c0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subnavig2Copy {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #ff9933; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subgraybold {
	FONT-WEIGHT: bolder; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bodytext {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.beshertblue {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #5074b0; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.beshertgray {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #5074b0; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.beshertCopy {
	FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.beshertblueCopy {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #5074b0; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
